.filterBy {
  background-color: #f5f5f5;
}

.searchBy {
  background-color: #f5f5f5;
}

.memberListCard {
  background-color: #f5f5f5;
}

.membersImageList {
  height: 100px;
  width: 100px;
}

.socialicon {
  margin-right: 10px;
}

.qualitiesHd {
  text-align: center;
  margin-top: 10px;
}

.userQual {
  margin-right: 20px;
  margin-top: 10px;
  padding: 5px 15px;
}
